@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	@* <h1 class="display-4">Welcome</h1> *@
    <h2 class="display-4 my-5">Library Management System</h2>
    <p>Library Management System je webová aplikace postavená na platformě ASP.NET Core, která slouží ke správě knihovny. Umožňuje efektivní evidenci knih a správu uživatelů. Systém poskytuje uživatelsky přívětivé rozhraní pro knihovníky i čtenáře, podporuje role a oprávnění a umožňuje jednoduché prohledávání a filtrování knihovního fondu.</p>


</div>
